@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-columns: 1.2fr 2fr 2fr;
  grid-template-rows: 90px 3fr 3fr;
  min-height: 100vh;
}

img {
  pointer-events: none;
}

header {
  background-color: #3D74B8;
  padding: 10px;
  grid-column: 1 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#header-text {
  font-size: 45px;
}

#todo-header-icon {
  width: 60px;
}

aside {
  grid-row: 2 / 4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.aside-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  font-weight: 300;
  cursor: pointer;
}

.aside-btn:hover {
  background-color: #CAE9F5;
}

.active-btn {
  font-weight: 500;
}

.aside-filter,
.calendar-projects  {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.calendar-icon,
.project-icon,
.todo-icon {
  width: 35px;
}

#aside-divider {
  border: 10px solid #ADD8E6;
  border-radius: 5px;
}

#add-project,
#add-todo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 300;
  cursor: pointer;
}

#add-project:hover {
  background-color: #fff;
  border: 4px dotted #8cff98;
  background-clip: padding-box;

}

#projects-text {
  font-size: 28px;
  font-weight: 300;
}

#project-popup {
  display: none;
}

#project-from {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#project-popup input[type="text"] {
  width: 90%;
  border: none;
  padding: 10px 15px;
  border-bottom: 2px solid #000066;
  font-size: 16px;
}

#project-popup input[type="text"]:focus {
  outline: none;
}

#project-popup input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#project-btns {
  display: flex;
  width: 50%;
  justify-content: space-between;
  gap: 15px;
}

#close-popup {
  background-color: #ff0000;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

main {
  grid-column:  2 / 4;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 25px 50px;
}

.main-title-text {
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 10px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(196, 233, 233);
  padding: 15px;
}

.todo-details {
  display: flex;
  flex-direction: column;
}

.todo-details-2 {
  display: flex;
  gap: 20px;
}

.todo-title {
  font-size: 20px;
}

.todo-description {
  font-size: 14px;
}

.delete-todo {
  font-size: 20px;
}


#todo-popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

#todo-popup label {
  display: block;
  margin-bottom: 10px;
}

#todo-popup input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

#todo-popup button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#todo-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#close-todo {
  position: absolute;
  right: 15px;
  top: 8px;
  cursor: pointer;
  font-size: 28px;
}

.todo-items-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.delete-todo {
  cursor: pointer;
  user-select: none;
}

#delete-project-button {
  padding: 15px 24px;
  color: #000000;
  border: 2px solid #F44336;
  background-color: #ffffff;
  transition-duration: 0.8s;
  font-size: 17px;
  align-self: center;
  margin-top: 10px;
  cursor: pointer;
}

#delete-project-button:hover {
  background-color: #F44336;
  color: #ffffff;
}